################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment/Assignment/bin/Debug/net6.0/.local-chromium/Win64-1069273/chrome-win
