USE [master]
GO
/****** Object:  Database [AssignmentDB]    Script Date: 10-03-2023 14:27:05 ******/
CREATE DATABASE [AssignmentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AssignmentDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AssignmentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AssignmentDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AssignmentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AssignmentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AssignmentDB]
GO
/****** Object:  Table [dbo].[tblDocument]    Script Date: 10-03-2023 14:27:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDocument](
	[ObjectCode] [nvarchar](100) NOT NULL,
	[ReferenceType] [varchar](50) NOT NULL,
	[RefernceNumber] [nvarchar](100) NOT NULL,
	[Content] [varbinary](max) NULL,
	[Filename] [nvarchar](255) NOT NULL,
	[FileExtension] [varchar](50) NOT NULL,
	[LanguageCode] [varchar](20) NOT NULL,
	[CreatedUser] [varchar](50) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tblDocument_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHtmlTemplate]    Script Date: 10-03-2023 14:27:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHtmlTemplate](
	[Id] [int] NOT NULL,
	[DocumentCode] [varchar](80) NOT NULL,
	[Filename] [varchar](255) NOT NULL,
	[ContentType] [varchar](30) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[ContentBinary] [varbinary](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedUser] [varchar](80) NOT NULL,
	[CreatedDateTime] [datetime] NULL,
	[ModifiedUser] [varchar](80) NULL,
	[ModifiedDateTime] [datetime] NULL,
 CONSTRAINT [PK_tblHtmlTemplate_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRefundPolicy]    Script Date: 10-03-2023 14:27:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRefundPolicy](
	[PolicyNumber] [nvarchar](100) NOT NULL,
	[TransactionCode] [nvarchar](100) NULL,
	[TransactionNumber] [nvarchar](100) NULL,
	[TemplateCode] [nvarchar](50) NOT NULL,
	[ChannelCode] [nvarchar](200) NOT NULL,
	[ClientId] [nvarchar](50) NULL,
	[Destination] [nvarchar](100) NULL,
	[Subject] [nvarchar](max) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[CreatedUserId] [nvarchar](100) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 10-03-2023 14:27:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[PolicyNumber] [nvarchar](100) NOT NULL,
	[Salary] [int] NOT NULL,
	[Occupation] [nvarchar](50) NOT NULL,
	[PolicyExpiryDate] [datetime] NOT NULL,
	[ProductCode] [nvarchar](10) NOT NULL,
	[emailAddress] [nvarchar](100) NULL,
	[Age] [int] NOT NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblXmlTemplate]    Script Date: 10-03-2023 14:27:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblXmlTemplate](
	[Code] [varchar](100) NOT NULL,
	[Xml] [nvarchar](max) NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tblXmlTemplate] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblDocument] ON 

SET IDENTITY_INSERT [dbo].[tblDocument] OFF
GO
INSERT [dbo].[tblUser] ([Id], [Name], [PolicyNumber], [Salary], [Occupation], [PolicyExpiryDate], [ProductCode], [emailAddress], [Age]) VALUES (101, N'Nitin', N'A121', 30000, N'SDE', CAST(N'2023-02-24T08:56:49.393' AS DateTime), N'DS1', N'nitinsaraswat.30@', 23)
INSERT [dbo].[tblUser] ([Id], [Name], [PolicyNumber], [Salary], [Occupation], [PolicyExpiryDate], [ProductCode], [emailAddress], [Age]) VALUES (102, N'Abhishek', N'A122', 32000, N'FDE', CAST(N'2023-02-24T08:57:53.807' AS DateTime), N'DS2', N'abhishek@gmail.com', 23)
INSERT [dbo].[tblUser] ([Id], [Name], [PolicyNumber], [Salary], [Occupation], [PolicyExpiryDate], [ProductCode], [emailAddress], [Age]) VALUES (103, N'Munna', N'A123', 40000, N'SDE', CAST(N'2023-02-24T08:58:36.710' AS DateTime), N'DS1', N'munna@gmail.com', 28)
GO
SET IDENTITY_INSERT [dbo].[tblXmlTemplate] ON 

SET IDENTITY_INSERT [dbo].[tblXmlTemplate] OFF
GO
/****** Object:  StoredProcedure [dbo].[uspHtmlTemplate]    Script Date: 10-03-2023 14:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[uspHtmlTemplate] 
@CreatedUser varchar(50)
as
BEGIN
	SELECT TOP (1000) [Id]
      ,[DocumentCode]
      ,[Filename]
      ,[ContentType]
      ,[Content]
      ,[ContentBinary]
      ,[IsDeleted]
      ,[CreatedUser]
      ,[CreatedDateTime]
      ,[ModifiedUser]
      ,[ModifiedDateTime]
  FROM [AssignmentDB].[dbo].[tblHtmlTemplate]
  where CreatedUser = @CreatedUser
END
GO
/****** Object:  StoredProcedure [dbo].[uspRefundPolicy]    Script Date: 10-03-2023 14:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[uspRefundPolicy] --'A121', 'DS1'
@PolicyNumber varchar(100),
@ProductCode varchar(20)
as
BEGIN
INSERT INTO [AssignmentDB].[dbo].[tblRefundPolicy] 
	   ([PolicyNumber]
      ,[TemplateCode]
      ,[ChannelCode]
      ,[Destination]
      ,[Subject]
      ,[Body]
      ,[CreatedUserId])

SELECT @PolicyNumber as PolicyNumber, 
t.DocumentCode  as TemplateCode, 
'Email' as ChannelCode, 
u.emailAddress as Destination, 
'Your Policy info ' + @PolicyNumber as Subject,
REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(t.Content,
'{{Name}}', u.Name),
'{{PolicyNumber}}', @PolicyNumber),
'{{Age}}', u.Age),
'{{Salary}}', u.Salary),
'{{Occupation}}', u.Occupation),
'{{ProductCode}}', @ProductCode),
'{{PolicyExpiryDate}}', u.PolicyExpiryDate) as Body,
u.Name as CreatedUserId
FROM [AssignmentDB].[dbo].[tblHtmlTemplate] as t
JOIN [AssignmentDB].[dbo].[tblUser] as u ON t.createdUser = u.id 
where u.PolicyNumber = @PolicyNumber AND u.ProductCode = @ProductCode AND u.emailAddress LIKE '%_@__%.__%';

--Declare @Body VARCHAR(MAX)
Select * from [AssignmentDB].[dbo].[tblRefundPolicy];

END

GO
/****** Object:  StoredProcedure [dbo].[uspUserDetails]    Script Date: 10-03-2023 14:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[uspUserDetails]
@PolicyNumber varchar(100),
@ProductCode varchar(20)
as
BEGIN
INSERT INTO [AssignmentDB].[dbo].[tblRefundPolicy]
	   ([PolicyNumber]
      ,[TemplateCode]
      ,[ChannelCode]
      ,[Destination]
      ,[Subject]
      ,[Body]
      ,[CreatedUserId])

SELECT @PolicyNumber as PolicyNumber, 
t.DocumentCode  as TemplateCode, 
'Email' as ChannelCode, 
u.emailAddress as Destination, 
'Your Policy info ' + @PolicyNumber as Subject,
REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(t.Content,
'{{Name}}', u.Name),
'{{PolicyNumber}}', @PolicyNumber),
'{{Age}}', u.Age),
'{{Salary}}', u.Salary),
'{{Occupation}}', u.Occupation),
'{{ProductCode}}', @ProductCode),
'{{PolicyExpiryDate}}', u.PolicyExpiryDate) as Body,
u.Name as CreatedUserId
FROM [AssignmentDB].[dbo].[tblHtmlTemplate] as t
JOIN [AssignmentDB].[dbo].[tblUser] as u ON t.createdUser = u.id 
where u.PolicyNumber = @PolicyNumber AND u.ProductCode = @ProductCode AND u.emailAddress LIKE '%_@__%.__%';

--Declare @Body VARCHAR(MAX)
Select * from [AssignmentDB].[dbo].[tblRefundPolicy];

END

GO
USE [master]
GO
